<h2>home</h2>
<% for( let chinhanh of chinhanh){ %>
    <tr>
        <td class="centerTD">
            <%= chinhanh.MaChiNhanh %>
        </td>
        <td>
            <%= chinhanh.Ten %>
        </td>
        <td class="centerTD">
            <%= chinhanh.DiaChi %>
        </td>
        <td class="bt">
            <form action="/admin/delete-user/<%= user._id %>" method="POST">
                <button type="submit" class="btn btn-primary">delete</button>
            </form>
            <form action="/admin/edit-user/<%= user._id %>" method="GET">
                <button type="submit" class="btn btn-primary">EDIT</button>
            </form>
        </td>
    </tr>
    <% } %>